 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre mí</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>Esta es mi web personal, registro noticias, ideas y ocurrencias que me gusta compartir.</p>
                <p>La informática es mi hobby, mi profesión y mi pasión.
                      Soy un afortunado usuario y desarrollador de software, me apasionan las nuevas tecnologías, los móviles y afrontar nuevos retos.
                    </p>
                    <p>Escribir es, a la vez, una especie de terapia (auto-administrada), un pasatiempo y un placer. No soy un gran escritor (ni siquiera me considero de los buenos), pero he descubierto que poner ciertas ideas por escrito ayuda a pulirlas, a la vez que uno va adquiriendo cierta práctica y mejorando la técnica. Y hasta quizás lo escrito pueda servirle a alguien más…</p>
                </div>
            </div>
        </div>
    </section>
